.title{
	text-align:center;
	font-family: "Arial", Arial, Sans-serif;
}


.uti-button{
}

.main_img{
}

.last_button{
}

.next_button{

}

.index_button{
}

.last_button:hover{
}

.index_button:hover{
}



.main_img{
	text-align:center;
	width:480px;
	height:360px;
}

.attribute{
}

